node-red-data/flows.json
[
    {
        "id": "5ff5dc372f3dcde1",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ed6601b42e4e972",
        "type": "tab",
        "label": "Поток 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dec68a818e8a0f90",
        "type": "inject",
        "z": "5ff5dc372f3dcde1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "85998e43ff54b880"
            ]
        ]
    },
    {
        "id": "85998e43ff54b880",
        "type": "debug",
        "z": "5ff5dc372f3dcde1",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "b4ac4cecc018c81b",
        "type": "http request",
        "z": "2ed6601b42e4e972",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 120,
        "wires": [
            []
        ]
    }
]